extends layout 

block content 
  h1= title 

  form(id='DoctorForm', action="/resource/doctors", method="POST")
    div.form-group
      label.doctorAttr(for="years_of_experience") Years of Experience 
      input#years_of_experience(type="number", name='years_of_experience')
    div.form-group
      label.doctorAttr(for="specialty") Specialty 
      input#specialty(type="text", name='specialty') 
    div.form-group
      label.doctorAttr(for="number_of_patients") Number of Patients 
      input#number_of_patients(type="number", name='number_of_patients') 
    input(type="submit")
  script.
    document.forms['DoctorForm'].addEventListener('submit', (event) => {
     event.preventDefault();
    fetch(event.target.action, {
     method: 'POST',
     body: new URLSearchParams(new FormData(event.target))
    }).then((resp) => {
     return resp.json();
    }).then((body) => {
     alert("Save succeded")
    }).catch((error) => {
     alert("Save failed " + error )
     });
    });
    